
/* Navigation */

.navbar-text {
    margin-top: 13px;
    margin-bottom: 13px;
}

.search-bar {
  text-align: right;
  padding-bottom: 25px;
}
.page-options {
  float: right;
  margin-top: -50px;
}

.pagination {
  margin: 5px 0 5px 10px;
}

.page-options label {
  margin-top: -25px;
  float: left;
  width: 1px;
}